.project-theme(@theme-color) {
  @theme-color--dark: darken(@theme-color, 5%);
  a {
    color: @theme-color;
  }
  .btn--primary {
    background: @theme-color;
    border: @theme-color--dark;
  }
  .label:not([class*='bg--']) {
    background: @theme-color--dark;
  }
}

body[project] {
  .project-hero img {
    width: 25%;
  }
}

body[project='projectname'] {
  .project-theme(teal);
}

body[project='sci-fi'] {
  .project-theme(#001266);
}

body[project='sex-tech-hack'] {
  .project-theme(#781d36);
}

body[project='monthly'] {
  .project-theme(#706cf5);
}
body[project='craft'] {
  .project-theme(#F6A623);
}
body[project='lovelace'] {
  .project-theme(#003b36);
}
body[project='hebocon'] {
  .project-theme(#D9292C);
}
body[project='game'] {
  .project-theme(#663366);
}
body[project='anvil'] {
  .project-theme(#BD901E);
}
body[project='music'] {
  .project-theme(#333);
}

body[project='doc-hack'],
body[project='community'],
body[project='community-single'] {
  .project-theme(#bf0000);
}