<footer class="text-center-xs space--xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <ul class="list-inline">
                    <li> <a href="/contact"><span class="h6 type--uppercase">Contact</span></a> </li>
                    <li> <a href="https://github.com/hacksmiths/code-of-conduct"><span class="h6 type--uppercase">Code of Conduct</span></a> </li>
                </ul>
            </div>
            <div class="col-sm-5 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li><a href="http://twitter.com/hacksmiths"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                    <li><a href="http://facebook.com/hacksmiths"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                    <li><a href="http://m.me/smithsbot"><i class="socicon socicon-messenger icon icon--xs"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7"> <span class="type--fine-print"><span class="update-year"></span> {{site.name}}.</span> <a class="type--fine-print" href="https://www.goldsmithssu.org">Goldsmiths SU</a> <a class="type--fine-print" href="http://www.gold.ac.uk/computing/">Department of Computing at Goldsmiths</a> </div>
            <div class="col-sm-5 text-right text-center-xs"> <a class="type--fine-print" href="mailto:team@goldsmiths.tech">team@goldsmiths.tech</a> </div>
        </div>
    </div>
</footer>