<div class="nav-container">
    <div class="header">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2 logo-area">
                        <a href="/">Hacksmiths</a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu1" class="bar bar-1 hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs logo-area">
                        <div class="bar__module"><a href="/"><img src="/assets//img/logo-hacksmiths-icon-only.svg" alt="Hacksmiths Logo"></a></div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module"> 
                            <ul class="menu-horizontal text-left">
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="http://m.me/smithsbot" target="_blank"> <span class="btn__text"><i class="socicon socicon-messenger icon icon--xs"></i> Get updates</span> </a>
                            <a class="btn btn--sm btn--primary type--uppercase" href="/join"> <span class="btn__text">Join for free</span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>