<section class="sponsors">
<div class="container">
    <h2>This event is supported by</h2>
    <div class="row">
        {% for supporter in page.supporters %}
          <div class="col-sm-3">
              <img alt="{{supporter.name}}" src="/assets/img/partners/{{supporter.name}}.png">
          </div>
        {% endfor %}
    </div>
    {% if page.show_support_text %}
      <p class="support">As a student-run society, we rely on the generosity of organisations to run our events. If you'd like to support this event, please <a href="/contact">get in touch</a>.</p>
    {% endif %}
</section>