<section class="switchable project-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 desc">
                <h2>{{page.tagline}}</h2>
                {{page.description}}
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="text-block">
                    <h5>When</h5>
                    <p>{{page.when}}<br>{{page.time}}</p>
                </div>
                <div class="text-block">
                    <h5>Where</h5>
                    <p>{{page.address}}</p>
                </div>
                <div class="text-block">
                    <h5>Twitter</h5>
                    <p>#{{page.hashtag}}</p>
                </div>
            </div>
        </div>
    </div>
</section>