<section class="switchable imagebg height-50 switchable--switch valuable-skills" data-overlay="7">
    <div class="background-image-holder"><img alt="background" src="/assets/img/collab.jpg"></div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-6">
                <h2>Learn valuable skills in a friendly and supportive environment</h2>
                <p class="lead"> We really want to support every student at Goldsmiths to build their skills. Every event is suitable for beginners - so feel free to come along, ask questions and make friends.</p>
            </div>
        </div>
    </div>
</section>