/**!**************/
/**! Contents **/
/**! 01. Reset **/
/**! 02. Typography **/
/**! 03. Position **/
/**! 04. Element Size **/
/**! 05. Images **/
/**! 06. Buttons **/
/**! 07. Icons **/
/**! 08. Lists **/
/**! 09. Lightbox **/
/**! 10. Menus **/
/**! 11. Dropdowns **/
/**! 12. Form Elements **/
/**! 13. Accordions **/
/**! 14. Breadcrumbs **/
/**! 15. Radials **/
/**! 16. Tabs **/
/**! 17. Boxes **/
/**! 18. Sliders Flickity **/
/**! 19. Hover Elements **/
/**! 20. Masonry **/
/**! 21. Modals **/
/**! 22. Maps **/
/**! 23. Parallax **/
/**! 24. Notifications **/
/**! 25. Video **/
/**! 26. Colors **/
/**! 27. Image Blocks **/
/**! 28. MailChimp & Campaign Monitor **/
/**! 29. Twitter **/
/**! 30. Transitions **/
/**! 31. Switchable Sections **/
/**! 32. Typed Effect **/
/**! 33. Gradient BG **/
/**! 34. Bars **/
/**! 35. Navigation In Page **/
/**! 36. Helper Classes **/
/**! 37. Spacing **/
/**! 38. Boxed Layout **/
/**! 39. Wizard **/
/**! 40. Alerts **/
/**! 41. Theme Overrides **/
/**!**************/
/**!**************/
/**!**************/
/**! 01. Reset **/
*,
h1,
h2,
h3,
h4,
h5,
p,
ul,
a
{
    margin: 0;
    padding: 0;
}
/**! 02. Typography **/
html
{
    font-size: 87.5%;
}
@media all and (max-width: 768px)
{
    html
    {
        font-size: 81.25%;
    }
}
body
{
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.85714286em;

    color: #666;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
.h2,
.h6
{
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 300;

    margin-top: 0;
    margin-bottom: 0;

    color: #252525;

    font-variant-ligatures: common-ligatures;
}
h1
{
    font-size: 3.14285714em;
    line-height: 1.31818182em;
}
h2,
.h2
{
    font-size: 2.35714286em;
    line-height: 1.36363636em;
}
h3
{
    font-size: 1.78571429em;
    line-height: 1.5em;
}
h4
{
    font-size: 1.35714286em;
    line-height: 1.36842105em;
}
h5
{
    font-size: 1em;
    line-height: 1.85714286em;
}
.h6
{
    font-size: .85714286em;
    line-height: 2.16666667em;
}
.lead
{
    font-size: 1.35714286em;
    line-height: 1.68421053em;
}
@media all and (max-width: 767px)
{
    h1
    {
        font-size: 2.35714286em;
        line-height: 1.36363636em;
    }
    h2,
    .h2
    {
        font-size: 1.78571429em;
        line-height: 1.5em;
    }
    h3
    {
        font-size: 1.35714286em;
        line-height: 1.85714286em;
    }
    .lead
    {
        font-size: 1.35714286em;
        line-height: 1.36842105em;
    }
}
p,
ul,
blockquote
{
    margin-bottom: 1.85714286em;
}
ul
{
    line-height: 1.85714286em;

    list-style: none;
}
ul.bullets
{
    list-style: inside;
}
blockquote
{
    font-size: 1.78571429em;
    line-height: 1.5em;

    margin: 0;
    padding: 0;

    border-left: 0;
}
hr
{
    margin: 1.85714286em 0;

    border-color: #fafafa;
}
a:hover,
a:focus,
a:active
{
    text-decoration: none;

    outline: none;
}
/*! Typography -- Helpers */
.type--uppercase
{
    text-transform: uppercase;
}
.type--fine-print
{
    font-size: .85714286em;
}
/**! 03. Position **/
body
{
    overflow-x: hidden;
}
.pos-vertical-center
{
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
@media all and (max-width: 767px)
{
    .pos-vertical-center
    {
        top: 0;

        -webkit-transform: none;
                transform: none;
    }
}
@media all and (max-height: 600px)
{
    .pos-vertical-center
    {
        top: 0;

        -webkit-transform: none;
                transform: none;
    }
}
@media all and (max-width: 767px)
{
    .text-center-xs
    {
        text-align: center;
    }
    .text-left-xs
    {
        text-align: left;
    }
}
/**! 04. Element Size **/
section.height-auto
{
    height: auto;
}
section.height-auto .pos-vertical-center
{
    position: relative;
    top: 0;

    transform: none;
}
/**! 05. Images **/
img
{
    max-width: 100%;
    margin-bottom: 1.85714286em;
}
/*p+img, img:last-child{
	margin-bottom: 0;
}*/
.background-image-holder
{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    height: 100%;

    -webkit-transition: opacity .3s linear;
            transition: opacity .3s linear;

    opacity: 0;
    background: #252525;
    background-position: 50% 50% !important;
    background-size: cover !important;
}
.background-image-holder:not([class*='col-'])
{
    width: 100%;
}
.background-image-holder.background--bottom
{
    background-position: 50% 100% !important;
}
.background-image-holder img
{
    display: none;
}
[data-overlay]
{
    position: relative;
}
[data-overlay]:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: #252525;
}
[data-overlay] *:not(.container):not(.background-image-holder)
{
    z-index: 2;
}
[data-overlay='2']:before
{
    opacity: .2;
}
.imagebg
{
    position: relative;
}
.imagebg .container
{
    z-index: 2;
}
.imagebg .container:not(.pos-absolute)
{
    position: relative;
}
.imagebg:not(.image--light) h1,
.imagebg:not(.image--light) h2,
.imagebg:not(.image--light) p
{
    color: #fff;
}
/**! 06. Buttons **/
.btn
{
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: inherit;
    line-height: 1.85714286em;

    padding-top: .46428571em;
    padding-right: 2.78571429em;
    padding-bottom: .46428571em;
    padding-left: 2.78571429em;

    -webkit-transition: .1s linear;
       -moz-transition: .1s linear;
            transition: .1s linear;

    border: 1px solid #252525;
    border-width: 1px;
    border-radius: 6px;
}
.btn .btn__text,
.btn i
{
    font-size: .85714286em;
    font-weight: 700;

    color: #252525;
    border-color: #252525;
}
.btn:active
{
    -webkit-box-shadow: none;
            box-shadow: none;
}
@media all and (min-width: 768px)
{
    .btn + .btn
    {
        margin-left: 1.85714286em;
    }
}
.btn:first-child
{
    margin-left: 0;
}
.btn:last-child
{
    margin-right: 0;
}
.btn--sm
{
    padding-top: .30952381em;
    padding-right: 1.85714286em;
    padding-bottom: .30952381em;
    padding-left: 1.85714286em;
}
.btn--lg
{
    padding-top: .58035714em;
    padding-right: 3.48214286em;
    padding-bottom: .58035714em;
    padding-left: 3.48214286em;
}
.btn--lg .btn__text
{
    font-size: 1.07142857em;
}
.btn--primary,
.btn--primary:visited
{
    border-color: #c52085;
    background: #c52085;
}
.btn--primary .btn__text,
.btn--primary:visited .btn__text
{
    color: #fff;
}
.btn--primary:hover
{
    background: #db2494;
}
.btn--primary:active
{
    background: #af1c76;
}
/**! 07. Icons **/
.icon
{
    font-size: 3.14285714em;
    line-height: 1em;
}
.icon--xs
{
    font-size: 1em;
}
.icon--sm
{
    font-size: 2.35714286em;
}
/**! 08. Lists **/
ul:last-child
{
    margin: 0;
}
.list-inline li
{
    margin-left: 0;
    padding: 0 1em;
}
.list-inline li:first-child
{
    padding-left: 0;
}
.list-inline li:last-child
{
    padding-right: 0;
}
/**! 09. Lightbox **/
/**! 10. Menus **/
.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger
{
    opacity: .5;
}
.menu-horizontal > li > a
{
    -webkit-transition: .3s ease;
       -moz-transition: .3s ease;
            transition: .3s ease;

    color: #252525;
}
.menu-horizontal > li > a:hover
{
    color: #252525;
}
@media all and (min-width: 990px)
{
    .menu-horizontal
    {
        display: inline-block;
    }
    .menu-horizontal > li
    {
        display: inline-block;
    }
    .menu-horizontal > li:not(:last-child)
    {
        margin-right: 1.85714286em;
    }
}
/**! 11. Dropdowns **/
/**! 12. Form Elements **/
select::ms-expand
{
    display: none;
}
/**! 13. Accordions **/
/**! 14. Breadcrumbs **/
/**! 15. Pie Charts **/
/**! 16. Tabs **/
/**! 17. Boxes **/
.boxed
{
    position: relative;

    overflow: hidden;

    margin-bottom: 30px;
    padding: 1.85714286em;
}
.boxed.boxed--lg
{
    padding: 2.78571429em;
}
.boxed.boxed--border
{
    border: 1px solid #ececec;
}
@media all and (max-width: 767px)
{
    .boxed
    {
        margin-bottom: 15px;
        padding: 1.23809524em;
    }
    .boxed.boxed--lg
    {
        padding: 1.23809524em;
    }
    .boxed:last-child
    {
        margin-bottom: 15px;
    }
}
/**! 18. Sliders Flickity **/
.slider[data-arrows='true'].slider--arrows-hover:not(:hover) .flickity-prev-next-button
{
    opacity: 0;
}
/**! 19. Hover Elements **/
/**! 20. Masonry **/
/**! 21. Modals **/
/**! 22. Maps **/
/**! 23. Parallax **/
/**! 24. Notifications **/
/**! 25. Video **/
/**! 26. Colors **/
body
{
    background: #fff;
}
a
{
    color: #c52085;
}
.bg--secondary
{
    background: #fafafa;
}
/**! 27. Image Blocks **/
/**! 28. MailChimp & Campaign Monitor **/
/**! 29. Twitter **/
/**! 30. Transitions **/
/**! 31. Switchable Sections **/
.switchable
{
    position: relative;
}
.switchable div[class*='col-']:first-child
{
    right: auto;

    float: left;
}
.switchable div[class*='col-']:first-child:not([class*='pull']):not([class*='push'])
{
    left: 0;
}
.switchable div[class*='col-']:last-child
{
    left: auto;

    float: right;
}
.switchable div[class*='col-']:last-child:not([class*='pull']):not([class*='push'])
{
    right: 0;
}
.switchable.switchable--switch div[class*='col-']:first-child
{
    right: 0;
    left: auto;

    float: right;
}
.switchable.switchable--switch div[class*='col-']:first-child:not([class*='pull']):not([class*='push'])
{
    left: auto;
}
.switchable.switchable--switch div[class*='col-']:last-child
{
    right: auto;
    left: 0;

    float: left;
}
.switchable .switchable__text
{
    margin-top: 3.71428571em;
}
/**! 32. Typed Effect **/
/**! 33. Gradient BG **/
[data-gradient-bg]
{
    position: relative;

    background: #252525;
}
/**! 34. Bars **/
.bar
{
    padding: 1.85714286em 0;
}
.bar .menu-horizontal
{
    position: relative;
    top: 6px;
}
.bar.bar--sm
{
    padding: .92857143em 0;
}
@media all and (min-width: 991px)
{
    .bar__module:not(:only-child)
    {
        display: inline-block;
    }
    .bar__module:not(:last-child)
    {
        margin-right: .92857143em;
    }
}
@media all and (max-width: 767px)
{
    .bar__module
    {
        margin-bottom: .92857143em;
    }
    .bar__module + .bar__module
    {
        margin-top: 1.85714286em;
    }
    .bar__module .btn
    {
        display: block;
    }
    .bar__module .btn + .btn
    {
        margin-left: 0 !important;
    }
    .bar__module .btn:not(:last-child)
    {
        margin-bottom: .92857143em;
    }
    .bar + nav.bar
    {
        padding-top: 0;
    }
}
/**! 35. Navigation InPage **/
.page-navigator li a:not(:hover)
{
    opacity: .5;
}
.page-navigator li a[data-title]:not(:hover):before
{
    transform: translateX(-20px);

    opacity: 0;
}
/**! 36. Helper Classes **/
@media all and (max-width: 767px)
{
    .text-left-xs
    {
        text-align: left;
    }
}
@media all and (max-width: 991px)
{
    .text-left-sm
    {
        text-align: left;
    }
}
/**! 37. Spacing **/
section,
footer
{
    padding-top: 7.42857143em;
    padding-bottom: 7.42857143em;
}
footer.space--xs
{
    padding-top: 3.71428571em;
    padding-bottom: 3.71428571em;
}
@media all and (max-width: 767px)
{
    section,
    footer
    {
        padding: 5.57142857em 0;
    }
}
/**! 38. Boxed Layout **/
/**! 39. Wizard **/
/**! 40. Alerts **/
/**! 41. Theme Overrides **/
/*! -- Stack Customizers -- */
/*! -- Stack Helpers -- */
.container .container
{
    max-width: 100%;
}
/*! -- Stack Animations -- */
/*! -- Stack Sections -- */
section:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom):not(.space--xxs) + section:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.border--bottom):not(.space--xxs)
{
    padding-top: 0;
}
section:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom) + footer:not(.unpad):not(.imagebg):not([class*='bg--']):not(.imageblock):not(.unpad--bottom):not(.border--bottom)
{
    padding-top: 0;
}
section.bg--secondary:not(.imagebg) + section:not(.imagebg):not([class*='bg-'])
{
    border-top: 1px solid #ebebeb;
}
section.text-center div[class*='col-']:first-child:last-child
{
    float: none;

    margin: 0 auto;
}
/*! -- Stack Typography -- */
@media all and (max-width: 1024px)
{
    html
    {
        font-size: 80%;
    }
}
h1
{
    letter-spacing: -.01em;
}
h1:not(:last-child)
{
    margin-bottom: .59090909090909em;
}
h2,
.h2
{
    margin-bottom: .78787878787879em;
}
h3
{
    margin-bottom: 1.04em;
}
blockquote
{
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: italic;
}
h4
{
    font-weight: 400;

    margin-bottom: 1.36842105263158em;
}
h5
{
    font-weight: 600;
}
h5:not(:last-child)
{
    margin-bottom: 1.85714286em;
}
.h6
{
    font-weight: 700;
}
.h6.type--uppercase
{
    margin-right: -1px;

    letter-spacing: 1px;
}
span.h6:not(.inline-block)
{
    display: block;
}
b
{
    font-weight: 600;
}
hr
{
    border-color: #ececec;
}
[class*='imagebg']:not(.image--light) p
{
    opacity: .9;
}
.lead
{
    font-weight: 400;

    color: #808080;
}
.lead:not(:last-child)
{
    margin-bottom: 1.36842105263158em;
}
.lead + .btn:last-child
{
    margin-top: .92857143em;
}
p:last-child
{
    margin-bottom: 0;
}
.text-block:not(:last-child)
{
    margin-bottom: 1.85714286em;
}
.text-block h5
{
    margin: 0;
}
@media all and (min-width: 768px)
{
    div[class*='col-'] .text-block + .text-block
    {
        margin-top: 3.71428571em;
    }
}
/*! -- Stack Colours -- */
/*! -- Stack Links -- */
a
{
    font-weight: 700;

    color: #c52085;
}
a:hover
{
    text-decoration: underline;

    color: #991967;
}
p a
{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.85714286em;

    text-decoration: underline;
}
.imagebg:not(.image--light) a
{
    font-weight: 600;

    color: #fff;
}
/*! -- Stack Tables -- */
/*! -- Stack Lists -- */
ul:not([class*='menu']) li > a
{
    font-weight: normal;
}
ul:not([class*='menu']) li > a:hover
{
    text-decoration: none;
}
.list-inline
{
    display: inline-block;

    margin-left: 0;
}
.list-inline li
{
    padding: 0;
}
.list-inline li:not(:last-child)
{
    margin-right: 1.85714286em;
}
.list--hover li
{
    -webkit-transition: .2s ease;
       -moz-transition: .2s ease;
            transition: .2s ease;
}
.list--hover li:not(:hover)
{
    opacity: .6;
}
.social-list a
{
    color: #252525;
}
@media all and (max-width: 767px)
{
    .list-inline:not(.social-list):not(.list-inline--images)
    {
        display: block;
    }
    .list-inline:not(.social-list):not(.list-inline--images) li
    {
        display: block;

        margin: 0;
    }
    .list-inline:not(.social-list):not(.list-inline--images) li:not(:last-child)
    {
        margin-bottom: .46428571em;
    }
}
@media all and (max-width: 767px)
{
    .list-inline
    {
        min-width: 100%;
    }
}
/*! -- Stack Rules -- */
/*! -- Stack Buttons -- */
.btn
{
    position: relative;
}
.btn:not([class*='primary'])
{
    border-color: #d3d3d3;
}
.btn:not([class*='primary']):hover
{
    border-color: #252525;
}
.btn.type--uppercase
{
    letter-spacing: .5px;
}
.btn.type--uppercase .btn__text
{
    margin-right: -.5px;

    letter-spacing: .5px;
}
.btn.btn--lg .btn__text
{
    font-weight: 600;
}
.btn.btn--lg.type--uppercase .btn__text
{
    letter-spacing: 1px;
}
.btn:hover
{
    -webkit-transform: translate3d(0, -2px, 0);
            transform: translate3d(0, -2px, 0);
}
.btn.btn--sm + .btn--sm
{
    margin-left: .92857143em;
}
p > .btn
{
    text-decoration: none;
}
.imagebg:not(.image--light) .btn:not([class*='primary'])
{
    border-color: rgba(255, 255, 255, .3);
}
.imagebg:not(.image--light) .btn:not([class*='primary']):hover
{
    border-color: #fff;
}
/*! -- Stack Images -- */
img:last-child
{
    margin-bottom: 0;
}
.imagebg h1,
.imagebg h2
{
    position: relative;
}
.imagebg:not(.image--light) span
{
    color: #fff;
}
/*! -- Stack Titles -- */
/*! -- Stack Labels -- */
/*! -- Stack Bars -- */
.menu-horizontal > li
{
    font-family: 'Open Sans', 'Roboto', 'Helvetica', Sans-Serif;
}
.menu-horizontal > li > a
{
    font-weight: 500;
}
.menu-horizontal > li a:hover
{
    text-decoration: none;
}
.hamburger-toggle i
{
    color: #252525;
}
@media all and (min-width: 990px)
{
    .menu-horizontal li:not(:last-child)
    {
        margin-right: 1.23809524em;
    }
    .bar__module:not(:only-child) .menu-horizontal
    {
        top: 0;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px)
{
    .bar-1 .menu-horizontal > li
    {
        display: inline-block;
    }
    .bar-1 .menu-horizontal > li:not(:first-child)
    {
        margin-left: .92857143em;
    }
    .bar-1 .bar__module
    {
        margin-bottom: 1.85714286em;
    }
    .bar-1 .row div[class*='col-']:last-child .bar__module:last-child
    {
        margin-bottom: 0;
    }
}
.bar-1 .menu-horizontal > li > a
{
    font-size: .857142857142857em;
    font-weight: 600;
    line-height: 2.166666666666667em;

    letter-spacing: .5px;
    text-transform: uppercase;
}
@media all and (min-width: 1024px)
{
    .bar-1 .bar__module + .bar__module
    {
        margin-left: 1.85714286em;
    }
}
/*! -- Stack Alerts -- */
/*! -- Stack Menu Toggle -- */
/*! -- Stack Nav Utility -- */
/*! -- Stack Nav Stacked -- */
/*! -- Stack Nav Side Menu -- */
/*! -- Stack Nav Sidebar Column -- */
.nav-sidebar-column .menu-vertical li.dropdown:not(:hover):after
{
    opacity: .35;
}
/*! -- Stack Nav Fullscreen -- */
/*! -- Stack Dropdowns -- */
.menu-vertical li:not(:hover):not(.dropdown--active)
{
    opacity: .75;
}
/*! -- Stack Twitter Feeds -- */
/*! -- Stack Instagram -- */
/*! -- Stack Cards -- */
.card__action a:not(:hover)
{
    opacity: .5;
}
/*! -- Stack Checkmarks & Crosses -- */
/*! -- Stack Icons -- */
.icon:not(.block)
{
    display: inline-block;
}
.icon.icon--xs
{
    font-size: 1.14285714285714em;
}
/*! -- Stack Tooltips -- */
[data-tooltip]:not(:hover):after
{
    opacity: 0;
}
/*! -- Stack Boxes -- */
.boxed
{
    border-radius: 6px;
}
.boxed:before
{
    border-radius: 6px;
}
.boxed:not([class*='bg-'])
{
    background: #fff;
}
/*! -- Stack Features Small -- */
.feature:not(.boxed)
{
    margin-bottom: 60px;
}
.feature h5
{
    margin: 0;
}
.feature-1
{
    min-height: 11.14285714em;
}
.feature-1 p
{
    margin: 0;
}
.feature-2
{
    overflow: hidden;
}
.feature-2 .feature__body
{
    float: right;

    width: 75%;
}
.feature-2 h5
{
    margin-bottom: .46428571em;
}
.feature-2 p:last-child
{
    margin: 0;
}
.feature-large .feature-2 + .feature-2:last-child
{
    margin-bottom: 0;
}
@media all and (max-width: 990px)
{
    .feature-2 .feature__body
    {
        float: none;

        width: 100%;
    }
    .feature-2 p:first-of-type
    {
        margin-top: .92857143em;
    }
}
@media all and (max-width: 767px)
{
    .feature p
    {
        min-height: auto;
        margin-right: auto;
        margin-left: auto;
    }
    .feature:not(.boxed)
    {
        margin-bottom: 30px;
    }
}
/*! -- Stack Features Large -- */
.feature-large .feature:not(.boxed)
{
    margin-bottom: 30px;
}
/*! -- Stack Accordions -- */
/*! -- Stack Tabs -- */
/*! -- Stack Switchable Sections -- */
.switchable .switchable__text
{
    margin-top: 1.85714286em;
}
.switchable [class*='col-']:first-child .switchable__text
{
    margin-bottom: 2.78571429em;
}
@media all and (max-width: 990px)
{
    .switchable .switchable__text
    {
        margin-top: 0;
    }
}
@media all and (max-width: 767px)
{
    .switchable .switchable__text
    {
        margin-top: 1.85714286em;
    }
    .switchable .row > div[class*='col-']
    {
        float: none !important;
    }
    .switchable .row > div[class*='col-']:last-child:not(:only-child)
    {
        margin-top: 1.85714286em;
    }
}
/*! -- Stack CTA -- */
.cta .btn:first-child:not(:last-child)
{
    margin-bottom: 1.85714286em;
}
@media all and (max-width: 767px)
{
    .cta .lead
    {
        margin: 1.36842105263158em 0;
    }
}
/*! -- Stack Videos -- */
/*! -- Stack Modals -- */
/*! -- Stack Notifications -- */
/*! -- Stack Loader -- */
/*! -- Stack Lightboxes -- */
/*! -- Stack Covers -- */
/*! -- Stack Processes -- */
/*! -- Stack Typed Text -- */
/*! -- Stack Forms -- */
/*! -- Stack Subscribe Forms -- */
/*! -- Stack Elaborate Forms -- */
/* Stack Boxed Forms */
/* Stack Datepicker Form */
.picker button:not(:hover)
{
    opacity: .5;
}
/*! -- Stack Sliders -- */
.flickity-prev-next-button:not(:hover)
{
    opacity: .5;
}
/*! -- Stack Pricing -- */
/*! -- Stack Maps -- */
/*! -- Stack Testimonials -- */
/*! -- Stack Masonry -- */
.masonry-filter-holder:not(.masonry-filters--horizontal):not(:hover) .masonry__filters ul
{
    overflow: hidden;

    max-height: 1.85714286em;
}
.masonry-filter-holder:not(.masonry-filters--horizontal):not(:hover) .masonry__filters ul li:not(.active)
{
    display: none;
}
/*! -- Stack Blog -- */
article .article__title
{
    margin-bottom: 3.71428571em;
}
article .article__title h1
{
    margin-bottom: .29545454545455em;
}
article .article__body img
{
    border-radius: 6px;
}
article .article__body img:not(:last-child)
{
    margin-bottom: 1.85714286em;
}
article .article__body p,
article .article__body ul
{
    font-size: 1.35714286em;
    font-weight: 400;
    line-height: 1.68421053em;

    color: #808080;
}
article .article__body p:not(:last-child)
{
    margin-bottom: 1.36842105263158em;
}
/*! -- Stack Portfolio -- */
/*! -- Stack Shop -- */
/*! -- Stack Wizard -- */
/*! -- Stack Footers -- */
footer .type--fine-print:not(p)
{
    opacity: .5;
}
footer a
{
    font-weight: normal;
}
footer:not(.bg--primary):not(.bg--dark) a
{
    color: #666;
}
footer a.type--fine-print:not(:first-child)
{
    margin-left: 1.85714286em;
}
@media all and (max-width: 767px)
{
    footer .social-list
    {
        margin: 1.85714286em 0;
    }
}
.text-block:last-child
{
    margin-bottom: 1.85714286em;
}
.events
{
    padding-top: 0;
    padding-bottom: 60px;
}
.events h2
{
    margin: 60px 0;

    text-align: center;
}
.events h3
{
    font-size: 1em;
    font-weight: normal;

    text-align: center;
}
.events .event-single a
{
    font-weight: inherit;

    text-decoration: none;

    color: inherit;
}
.events .event-single a[href] .boxed
{
    border-color: #ccc;
}
.events .event-single a[href] .boxed:hover
{
    border-color: #c52085;
}
.events .event-single a p
{
    font-weight: normal;
}
.events .event-single .boxed
{
    margin-bottom: 0;
}
.events .event-single .feature:not(.boxed)
{
    margin-bottom: 30px;
}
.bar .logo-area img
{
    height: 2.5em;
}
.bar .logo-area.col-xs-3
{
    margin-top: 6px;
}
.bar .logo-area.col-xs-3 a:hover
{
    text-decoration: none;
}
.bar .bar__module i.socicon-messenger
{
    font-size: 10px;
}
.hero img
{
    width: 50%;
}
.hero .feature-2 .feature__body
{
    float: auto;

    width: 100%;
}
.hero .btn
{
    margin-top: 1.5em;

    color: black;
}
.hero .btn i
{
    margin-right: .5em;

    color: inherit;
}
@media screen and (max-width: 560px)
{
    .hero .btn
    {
        margin-left: 0 !important;
    }
}
a.disabled
{
    color: #465773;
}
.project-hero
{
    background: #252525 !important;
}
.project-hero .background-image-holder
{
    opacity: .2 !important;
}
.project-hero .meta span:not(:last-child)
{
    display: inline-block;

    margin-right: 1em;
}
.project-hero .btn
{
    margin-right: .5em;
    margin-bottom: 1em;
    margin-left: .5em;
}
.sponsors img
{
    margin-bottom: 2em;

    border-radius: 5px;
}
.sponsors .support
{
    margin-top: 2em;
}
@media screen and (max-width: 768px)
{
    .sponsors img
    {
        margin-bottom: 2em;
    }
}
.project-main .desc p
{
    font-size: 1.25em;
    line-height: 2em;
}
.valuable-skills *
{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
[data-overlay]:before
{
    background: #633b93;
}
.highlights
{
    padding-right: 1em;
    padding-bottom: 0;
    padding-left: 1em;
}
.highlights .row
{
       -moz-column-count: 4;
    -webkit-column-count: 4;
            column-count: 4;
       -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
            column-gap: 1.5em;
}
.highlights .row img
{
    border-radius: 5px;
}
@media screen and (max-width: 600px)
{
    .highlights
    {
        display: none;
    }
}
.team h2
{
    margin-bottom: 2em;
}
.team a
{
    font-weight: normal;

    color: inherit;
}
.team .grid-columns
{
       -moz-column-count: 4;
    -webkit-column-count: 4;
            column-count: 4;
       -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
            column-gap: 1.5em;
}
.team .grid-columns .person
{
    display: inline-block;

    margin-bottom: 2em;
    padding: 1em;

    border: 1px solid #ececec;
    border-radius: 5px;
}
.team .grid-columns .person img
{
    border-radius: 4px;
}
.team .grid-columns .person h5
{
    margin-bottom: 1em;
}
@media screen and (max-width: 768px)
{
    .team .grid-columns
    {
           -moz-column-count: 2;
        -webkit-column-count: 2;
                column-count: 2;
    }
}
@media screen and (max-width: 600px)
{
    .team .grid-columns
    {
           -moz-column-count: 1;
        -webkit-column-count: 1;
                column-count: 1;
    }
}
.about .ethics
{
    margin-bottom: 0;
    padding: 2em;

    border-radius: 5px;
    background: #f0f0f0;
}
.about ul li:not(:last-child)
{
    margin-bottom: 1em;
}
.about .sponsors,
.about .sponsors .container
{
    margin-bottom: 0;
    padding-bottom: 0;
}
.about .team-photo-fun
{
    margin-top: 5em;
    padding: 0 1em;
}
.about .team-photo-fun img
{
    border-radius: 5px;
}
body[project='monthly'] .project-main .btn,
body[project='lovelace'] .project-main .btn
{
    margin-top: .5em;

    color: white;
}
body[project='monthly'] .project-main .btn.disabled,
body[project='lovelace'] .project-main .btn.disabled
{
    background: darkgrey;
}
.hardware-list
{
    margin-top: 3em;
    margin-bottom: 3em;
}
.hardware-list section
{
    padding: 2em;

    border: 1px solid black;
    border-radius: 5px;
}
.hardware-list section h1
{
    font-size: 2em;
    font-weight: bold;
}
.hardware-list section h2
{
    font-size: 1.25em;
    font-weight: bold;
}
.hardware-list section *
{
    font-size: 1rem;
}
.hardware-list section li
{
    margin-left: 1.25em;

    list-style: circle;
}
.hardware-list .control
{
    border-color: #674ea7;
}
.hardware-list .control .boards
{
    display: flex;

    justify-content: space-between;
}
@media screen and (max-width: 768px)
{
    .hardware-list .control .boards
    {
        display: block;
    }
    .hardware-list .control .boards .board
    {
        margin-bottom: 1em;
    }
    .hardware-list .control .boards .board.other
    {
        margin-bottom: 0;
    }
}
.hardware-list .components
{
    display: grid;

    margin-top: 1em;
    margin-bottom: 1em;

    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}
@media screen and (max-width: 768px)
{
    .hardware-list .components
    {
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }
}
.hardware-list .components .sense
{
    padding: 2em;

    border-color: #e69138;
}
.hardware-list .components .move
{
    padding: 2em !important;

    border-color: #6aa84f;
}
.hardware-list .components .show
{
    padding: 2em !important;

    border-color: #3c78d8;
}
.project-past
{
    padding: 1em;

    text-align: center;

    color: white;
    background: #002331;
}
.bullets.desc
{
    font-size: 1.25em;

    padding-left: 1em;
}
.bullets.desc li
{
    margin-bottom: 1em;

    list-style: circle;
}
.bullets.desc li:before
{
    content: '';
}
.feature-1
{
    min-height: 1px;
}
.cal-cont
{
    padding: 0 1rem;
}
a.cal
{
    max-width: 100%;
    margin-bottom: 2em;

    color: white;
}
a.cal:hover
{
    color: white;
}
.internal-links li
{
    margin-bottom: 1.5em;
}
.internal-links li p
{
    margin-bottom: 0;

    color: #c52085;
}
.internal-links li p + p
{
    color: black;
}
body[project] .project-hero img
{
    width: 25%;
}
body[project='sci-fi'] a
{
    color: #001266;
}
body[project='sci-fi'] .btn--primary
{
    border: #000d4d;
    background: #001266;
}
body[project='sex-tech-hack'] a
{
    color: #781d36;
}
body[project='sex-tech-hack'] .btn--primary
{
    border: #63182d;
    background: #781d36;
}
body[project='doc-hack'] a
{
    color: #bf0000;
}
body[project='doc-hack'] .btn--primary
{
    border: #a60000;
    background: #bf0000;
}
body[project='monthly'] a
{
    color: #706cf5;
}
body[project='monthly'] .btn--primary
{
    border: #5954f3;
    background: #706cf5;
}
body[project='craft'] a
{
    color: #f6a623;
}
body[project='craft'] .btn--primary
{
    border: #f59c0b;
    background: #f6a623;
}
body[project='lovelace'] a
{
    color: #003b36;
}
body[project='lovelace'] .btn--primary
{
    border: #00221f;
    background: #003b36;
}
body[project='hebocon'] a
{
    color: #d9292c;
}
body[project='hebocon'] .btn--primary
{
    border: #c52326;
    background: #d9292c;
}
body[project='game'] a
{
    color: #636;
}
body[project='game'] .btn--primary
{
    border: #552b55;
    background: #636;
}
body[project='anvil'] a
{
    color: #bd901e;
}
body[project='anvil'] .btn--primary
{
    border: #a77f1b;
    background: #bd901e;
}
body[project='music'] a
{
    color: #333;
}
body[project='music'] .btn--primary
{
    border: #262626;
    background: #333;
}
