---
layout: default
---

<section class="community-header">
  <div class="container">
    <a href="/community">This event is part of the Hacksmiths Community Series</a>
  </div>
</section>

<section class="cover imagebg height-auto text-center project-hero">
  <div class="background-image-holder background--bottom">
    <img alt="background" src="/assets/img/hypnotize.png">
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-9 col-md-8 expand">
        <h1> {{page.title}} </h1>
        <p class="lead">{{page.one_line}}</p>
        {% for button in page.buttons %}
        <a class="btn type--uppercase btn--{{button.type}}" href="{{button.url}}">{{button.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="desc community-desc">
  <div class="container">
    {{page.desc}}
  </div>
</section>

<section class="community-blocks">
  <div class="container">
    <div class="boxes">
      <div class="box">
        <h2>Where and when</h2>
        <p>{{page.where-when}}</p>
      </div>
      <div class="box">
        <h2>Lead organiser</h2>
        <p>{{page.organiser}}</p>
      </div>
      <div class="box">
        <h2>Other bits</h2>
        <p>{{page.misc}}</p>
      </div>
    </div>
  </div>
</section>

{% include project-supporters.html %}

{{content}}

<hr>